body {
  background-color: rgb(73, 72, 72);
}
.dashboard .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  height: 10vh;
  border-radius: 20px;
}

.dashboard .logo {
  display: flex;
  align-items: center;
}

.dashboard .logo img {
  height: 30px;
  margin-right: 10px;
}

.dashboard .logo span {
  font-size: 20px;
  font-weight: bold;
}

.dashboard .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f0ecf4;
  padding: 8px 10px;
  border-radius: 16px;
}

.dashboard .nav-links li {
  margin: 0 15px;
}

.dashboard .nav-links a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.dashboard .nav-links a:hover {
  background-color: #e2e2e2;
}

.dashboard .nav-links .active {
  background-color: black;
  color: white;
}

.dashboard .nav-icons {
  display: flex;
  align-items: center;
}

.dashboard .nav-icons a {
  margin-left: 15px;
}

.dashboard .nav-icons img {
  height: 20px;
}
