body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.mainbody {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 63vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left {
  padding: 40px;
  width: 50%;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  background-color: #4765ff;
  color: white;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.logo {
  font-weight: 800;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
  text-align: left;
  width: 100%;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  background-color: red;
}
h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 15px;

  position: relative;
}

input {
  /* margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; */
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  height: 40px;
}
label {
  text-align: left;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4765ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3553cc;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
}

.slickbox img {
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.slick-slider {
  margin: -15px;
}
.slick-slide {
  background-color: red;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  gap: 0;
} */
